.hero {
    background-image: url("https://img.freepik.com/premium-vector/abstract-doctor-digital-hologram-interface-concept-medical-data-analysis_36402-807.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1696377600&semt=ais");
    background-repeat: no-repeat;
    background-size: cover;
    height: 89vh;
    margin: 0;
}