.boxe{
    margin: 0 5em;
    /* background-color: aqua; */
    height: 100vh;
}

.contact{
    margin: 0 auto;
    display: flex;
    background-color: #91C8E4;
    justify-content: center;
}

.boxe section{
    margin: 3em 0;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50em;
}
.contact-form input{
    margin-bottom: 10px;
}

.contact-form button{
    width: 20em;
    padding: 1em 2em;
    margin-top: 1em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    background-color: #91C8E4;
    outline: none;
    border: none;
    border-radius: 2em;
}
.contact-form button:hover{
    background-color: #F6F4EB;
    color: #4682A9;
}