.nav {
    margin: 0px;
    display: flex;
    background-color: #062246;
    align-items: center;
    justify-content: space-around;
    border: 2px solid white;
    height: 50px;
}

.nav .logo {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.nav .nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav .nav-links li a {
    text-decoration: none;
    color: white;
    padding: 17px 40px;
}

.nav .nav-links li:hover a {
    background-color: #244b7d;
    border-radius: 5px;
}

.nav .search-box input {
    padding: 8px;
    background-color: rgb(118, 148, 239);
    color: black;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid black;
}

.nav .search-box button {
    padding: 7px 8px;
}